<header>
    <nav class="navbar navbar-primary bg-white navbar-top full-width-pull-menu no-transition">
        <div class="container nav-header-container height-100px xs-height-80px xs-padding-15px-lr">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-xs-6 no-padding sm-padding-15px-lr">
                    <a href="{{ site.url }}" title="Foundation Molson" class="logo">
                      {% if site.language == 'en-CA' %}
                        <img src="{{ theme.link }}/static/img/logo_dark_en.png" class="logo-dark default" alt="The Molson Foundation">
                      {% elseif site.language == 'fr-CA' %}
                        <img src="{{ theme.link }}/static/img/logo_dark_fr.png" class="logo-dark default" alt="La Fondation Molson">
                      {% endif %}
                    </a>
                </div>
                <div class="col-lg-8 col-md-9 text-center hidden-sm hidden-xs no-padding">
                    <ul id="accordion" class="nav navbar-nav navbar-center">
                        {% for item in menu.get_items %}
                            <li>
                                <a href="{{ item.link }}" class="{% if item.current %} active {% endif %}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-2 col-md-1 text-right hidden-sm hidden-xs no-padding">
                    <ul id="accordion" class="nav navbar-nav navbar-center lang">
                        {% filter shortcodes %}
                          [wpml_language_switcher]
                        {% endfilter %}
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 center-col text-right visible-sm visible-xs">
                    <ul id="accordion" class="nav navbar-nav navbar-center lang">
                      {% filter shortcodes %}
                        [wpml_language_switcher]
                      {% endfilter %}
                    </ul>
                    <button class="navbar-toggle mobile-toggle top-0" type="button" id="open-button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="menu-wrap full-screen no-padding">
                        <div class="no-padding bg-secondary full-screen text-center">
                            <div class="position-absolute height-100 width-100 overflow-auto">
                                <div class="display-table height-100 width-100">
                                    <div class="display-table-cell height-100 width-100 vertical-align-middle padding-fourteen-lr alt-font link-style-2 sm-padding-seven-lr xs-padding-15px-lr">
                                        <ul class="font-weight-600 xs-no-padding-left">
                                            {% for item in menu.get_items %}
                                                <li class="{% if item.current %} active {% endif %}">
                                                    <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="close-button-menu" id="close-button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
