{% if posts.pagination.pages is not empty %}

<nav class="m-auto" aria-label="">
    <ul class="pagination">
        <li class="page-item {% if pagination.pages|first.current %}disabled{% endif %}">
            <a class="page-link" href="{{ pagination.pages|first.link }}" aria-label="{{ __('First', 'pagination') }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">{{ __('First', 'pagination') }}</span>
            </a>
        </li>
        <li class="page-item {% if pagination.pages|first.current %}disabled{% endif %}">
            <a class="page-link" href="{{ pagination.prev.link }}" aria-label="{{ __('Previous', 'pagination') }}">
                <span aria-hidden="true">&lt;</span>
                <span class="sr-only">{{ __('Previous', 'pagination') }}</span>
            </a>
        </li>

        {% for page in pagination.pages %}
        <li class="page-item {% if page.current %}disabled active{% endif %}">
            <a class="page-link" href="{{ page.link }}">{{ page.title }}</a>
        </li>
        {% endfor %}

        <li class="page-item {% if pagination.pages|last.current %}disabled{% endif %}">
            <a class="page-link" href="{{ pagination.next.link }}" aria-label="{{ __('Next', 'pagination') }}">
                <span aria-hidden="true">&gt;</span>
                <span class="sr-only">{{ __('Next', 'pagination') }}</span>
            </a>
        </li>
        <li class="page-item {% if pagination.pages|last.current %}disabled{% endif %}">
            <a class="page-link" href="{{ pagination.pages|last.link }}" aria-label="{{ __('Last', 'pagination') }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">{{ __('Last', 'pagination') }}</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}
