{% extends "base.twig" %}

{% block header %}
{% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
<div id="" class="container">
    {% for post in posts %}
    <div class="row">
        <div class="col-4">
            <a href="{{ post.link }}"><img src="{{ post.thumbnail.src("medium") }}" alt="{{ post.title }}"></a>
        </div>
        <div class="col-8">
            <h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
            <h6>{{ post.date }}</h6>
            <div class="">{{ post.preview.read_more('') }}</div>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
</div>
{% endblock %}
