{% extends "base.twig" %}

{% block header %}
    {% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
    {% for section in page.get_field('sections') %}
        {% if section.section_type == "standard" %}
            <section class="section-fields-standard padding-80px-tb md-padding-60px-tb sm-padding-40px-tb" style="background-image:url({{TimberImage(section.section_background_image)}}); background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 center-col margin-80px-bottom sm-margin-40px-bottom text-center last-paragraph-no-margin">
                            <h2 class="text-secondary font-weight-400 title margin-40px-bottom">{{ section.section_title }}</h2>
                            <p class="text-grey p-size-2 description">{{ section.section_description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 center-col margin-60px-bottom sm-margin-30px-bottom text-center">
                            <h3 class="text-secondary font-weight-400 subtitle">{{ section.areas_of_intervention_title }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% if section.display_type == "columns"%}
                            {% for area in section.areas_of_intervention %}
                                <div class="col-sm-4 col-xs-12 fields-item last-paragraph-no-margin">
                                    <div class="fields-img-wrapper" style="background-image:url({{ TimberImage(area.area_image).src|resize(200, 200) }});"></div>
                                    <div class="fields-body">
                                        <h4 class="fields-title">{{ area.area_title }}</h4>
                                        <p class="fields-text">{{ area.area_description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="swiper-slider-clients swiper-container swiper-container-horizontal margin-40px-bottom xs-margin-20px-bottom">
                                <div class="swiper-wrapper">
                                    {% for area in section.areas_of_intervention %}
                                        <div class="swiper-slide text-center">
                                            <div class="image-wrapper" style="background-image:url({{ area.area_image|resize(200, 200) }});"></div>
                                            <h4 class="slider-title text-secondary">{{ area.area_title }}</h4>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        {% else %}
            <section class="no-padding section-fields-extended" style="background-image:url({{TimberImage(section.section_background_image)}}); background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important">
                <div class="bg-primary-opacity">
                    <div class="container padding-80px-tb md-padding-60px-tb sm-padding-40px-tb">
                        <div class="row">
                            <div class="col-sm-12 center-col margin-80px-bottom sm-margin-40px-bottom text-center last-paragraph-no-margin">
                                <h2 class="text-secondary font-weight-400 title margin-40px-bottom">{{ section.section_title }}</h2>
                                <p class="text-grey p-size-2 description">{{ section.section_description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 center-col margin-60px-bottom sm-margin-30px-bottom text-center">
                                <h3 class="text-secondary font-weight-400 subtitle">{{ section.areas_of_intervention_title }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            {% if section.display_type == "columns"%}
                                {% for area in section.areas_of_intervention %}
                                    <div class="col-sm-4 col-xs-12 fields-item">
                                        <div class="fields-img-wrapper" style="background-image:url({{ TimberImage(area.area_image).src|resize(200, 200) }});"></div>
                                        <div class="fields-body">
                                            <h4 class="fields-title">{{ area.area_title }}</h4>
                                            <p class="fields-text">{{ area.area_description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="swiper-slider-clients swiper-container swiper-container-horizontal margin-40px-bottom xs-margin-20px-bottom">
                                    <div class="swiper-wrapper">
                                        {% for area in section.areas_of_intervention %}
                                            <div class="swiper-slide text-center">
                                                <div class="image-wrapper" style="background-image:url({{ area.area_image }});"></div>
                                                <h4 class="slider-title text-white">{{ area.area_title }}</h4>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next swiper-button-white"></div>
                                    <div class="swiper-button-prev swiper-button-white"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Initialize Swiper -->
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
