{% extends "base.twig" %}

{% block header %}
{% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
<div id="" class="container">
    {% for section in page.get_field('sections') %}
    <div class="row">
        <div class="col-12">
            <h2>{{ section.section_title }}</h2>
            <div class="">{{ section.section_description }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>{{ section.areas_of_intervention_title }}</h3>
        </div>
    </div>
    <div class="row">
        {% if section.display_type == "columns"%}
        {% for area in section.areas_of_intervention %}
        <div class="col-sm-1 col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ area.area_title }}</h5>
                    <p class="card-text">{{ area.area_description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <ul>
            {% for area in section.areas_of_intervention %}
            <li>{{ area.area_title }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
