<footer class="footer footer-center-logo padding-55px-tb md-padding-35px-tb sm-padding-20px-tb">
    <div class="container">
        <div class="row xs-equalize-auto hidden-sm hidden-xs">
            <div class="col-md-6 col-lg-5 col-xs-12 text-center display-table mr-md-auto ml-auto ml-md-0 xs-margin-15px-bottom">
                <div class="display-flex vertical-align-middle">
                    <ul class="footer-navigation mr-md-auto ml-auto ml-md-0">
                        {% for item in menu.get_items|slice(0,3) %}
                            <li class="{{ item.class }}">
                                <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="text-center xs-margin-15px-bottom hidden-md footer-logo">
                <a href="{{ site.url }}">
                    <img class="footer-logo-img" src="{{ TimberImage(options.logo_footer).src }}" data-at2x="{{ TimberImage(options.logo_footer).src }}" alt="Foundation Molson" width="{{ TimberImage(options.logo_footer).width }}" height="{{ TimberImage(options.logo_footer).height }}">
                </a>
            </div>
            <div class="col-md-6 col-lg-5 col-xs-12 text-center display-table ml-md-0 ml-md-auto mr-md-auto">
                <div class="display-flex vertical-align-middle">
                    <ul class="footer-navigation ml-md-auto ml-0 mr-md-0">
                        {% for item in menu.get_items|slice(3,6) %}
                            <li class="{{ item.class }}">
                                <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row visible-sm visible-xs">
            <div class="col-sm-12 text-center">
                <ul class="footer-navigation">
                    {% for item in menu.get_items %}
                        <li>
                            <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copyright-bar padding-10px-tb sm-padding-10px-tb">
    <div class="container">
        <div class="row visible-sm visible-xs">
            <div class="col-lg-12 text-center">
                <ul class="copyright-navigation">
                        <li>
                            <span class="nav-copryright text-white">&copy;{{ site.name }} {{"now"|date('Y')}}</span>
                        </li>
                        <li><span class="nav-divider text-white"> - </span></li>
                    {% for item in menu_policy.get_items %}
                        <li>
                            <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                        </li>
                        {% if loop.last == false %}
                        <li><span class="nav-divider text-white"> - </span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
