<footer class="footer footer-center-logo padding-55px-tb md-padding-35px-tb sm-padding-20px-tb">
    <div class="container">
        <div class="row xs-equalize-auto hidden-sm hidden-xs">
            <div class="col-md-5 col-sm-5 col-xs-12 text-center display-table mr-auto xs-margin-15px-bottom">
                <div class="display-table-cell vertical-align-middle">
                    <ul class="footer-navigation mr-md-40">
                        {% for item in menu.get_items|slice(0,3) %}
                            <li class="{{ item.class }}">
                                <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="text-center xs-margin-15px-bottom footer-logo">
                <a href="{{ site.url }}">
                    <img class="footer-logo-img" src="{{ theme.link }}/static/img/logo-footer.png" data-at2x="{{ theme.link }}/static/img/logo-transparent-light.png" alt="Foundation Molson" width="304" height="228">
                </a>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 text-center display-table ml-auto">
                <div class="display-table-cell vertical-align-middle">
                    <ul class="footer-navigation ml-md-40">
                        {% for item in menu.get_items|slice(3,6) %}
                            <li class="{{ item.class }}">
                                <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row visible-sm visible-xs">
            <div class="col-sm-12 text-center">
                <ul class="footer-navigation">
                    {% for item in menu.get_items %}
                        <li>
                            <a href="{{ item.link }}" class="inner-link text-white">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
