{% extends "base.twig" %}

{% block header %}
    {% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
    <!-- About Section -->
    <section class="no-padding section-about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-xs-12 bg-primary-blue sm-text-center" style="background-image:url({{TimberImage(page.get_field('about_section_background_left'))}});background-position: center right; background-repeat: no-repeat;">
                    <div class="inner-column ml-sm-auto ">
                        <h2 class="title margin-40px-bottom font-weight-500">{{ page.about_section_title }}</h2>
                        {{ page.get_field('about_section_text') }}
                        <a href="{{ page.about_section_cta_link }}" class="btn btn-primary btn-large margin-20px-top">{{ page.about_section_cta_title }}</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12" style="background-image:url({{TimberImage(page.get_field('about_section_background_right'))}});">
                    <div class="inner-column mr-sm-auto">
                          <img src="{{TimberImage(page.get_field('about_section_main_image'))}}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Fields of Intervention -->
    <section class="section-fields padding-80px-tb md-padding-60px-tb sm-padding-40px-tb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center-col margin-60px-bottom sm-margin-40px-bottom text-center">
                    <h2 class="text-secondary font-weight-500 title">{{ page.fields_of_intervention_section_title }}</h2>
                </div>
            </div>
            <div class="row space-between">
                {% for item in page.get_field('fields_of_intervention') %}
                <div class="col-sm-3 col-xs-12 fields-item">
                    <div class="fields-img-wrapper" style="background-image:url({{ TimberImage(item.image).src("medium") }});"></div>
                    <div class="fields-body">
                        <h4 class="fields-title">{{ item.title }}</h4>
                        <p class="fields-text">{{ item.text }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="{{ page.fields_of_intervention_section_cta_link }}" class="btn btn-primary btn-large">{{ page.fields_of_intervention_section_cta_title }}</a>
                </div>
            </div>
        </div>
    </section>

    <!-- News -->
    <section class="no-padding section-news">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="display-table width-100 height-100" style="background-image:url({{TimberImage(page.get_field('news_section_background_image'))}}); background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important">
                        <div class="display-table-cell vertical-align-middle padding-80px-tb md-padding-60px-tb sm-padding-40px-tb width-100 bg-primary-opacity">
                            <div class="row">
                                <div class="col-sm-12 center-col margin-60px-bottom sm-margin-40px-bottom text-center">
                                    <h2 class="text-secondary font-weight-500 title">{{ page.news_section_title }}</h2>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row equalize xs-equalize-auto">
                                    {% for post in posts %}
                                        <div class="col-md-4 col-sm-12">
                                            <div class="news-item">
                                                <a href="{{ post.link }}">
                                                  <div class="news-img-wrapper">
                                                    <div class="news-img-inner-wrapper" style="background-image:url({{ post.thumbnail.src("medium") }});"></div>
                                                  </div>
                                                </a>
                                                <div class="news-body height-450px md-height-500px sm-height-auto xs-height-auto">
                                                    <span class="news-date">{{ post.date|date("m/d/Y") }}</span>
                                                    <a href="{{ post.link }}"><h3 class="news-title">{{ post.title|length > 50 ? post.title|slice(0, 100) ~ '...' :post.title  }}</h3></a>

                                                    <p class="news-text">{{ post.preview.read_more('')|length > 50 ? post.preview.read_more('')|slice(0, 100) ~ '...' :post.preview.read_more('')  }}</p>
                                                    <a href="{{ post.link }}"><span class="news-link">Read more</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="{{ page.news_section_cta_link }}" class="btn btn-primary btn-large">{{ page.news_section_cta_title }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
