{% extends "base.twig" %}

{% block header %}
{% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
    {% for section in page.get_field('sections') %}
        {% if section.section_type == "standard" %}
            <section id="{{ section.section_id }}" class="section-grant-standard padding-80px-tb md-padding-60px-tb sm-padding-40px-tb" style="background-image:url({{TimberImage(section.section_background_image)}}); background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 center-col no-margin last-paragraph-no-margin">
                            <h2 class="text-secondary font-weight-400 title margin-40px-bottom">{{ section.section_title }}</h2>
                            <div class="text-grey text-medium text">{{ section.section_text }}</div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <section id="{{ section.section_id }}" class="no-padding section-grant-extended" style="background-image:url({{TimberImage(section.section_background_image)}}); background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important">
                <div class="bg-primary-opacity">
                    <div class="container padding-80px-tb md-padding-60px-tb sm-padding-40px-tb">
                        <div class="row">
                            <div class="col-sm-12 center-col last-paragraph-no-margin">
                                <h2 class="text-white font-weight-400 title margin-40px-bottom">{{ section.section_title }}</h2>
                                <div class="text-white text-medium text">{{ section.section_text }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
