{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}

    <header class="header-single-post no-padding section-standard-hero margin-100px-top xs-margin-35px-top">
      {% if site.language == 'en-CA' %}
        <!-- Photo credit - @jfsavaria -->
      {% elseif site.language == 'fr-CA' %}
        <!-- Crédit photo - @jfsavaria -->
      {% endif %}
        <div class=" bg-primary-opacity">
            <div class="container">
                <div class="row height-250px">
                    <div class="col-xs-12">
                        <div class="width-100 height-100">
                            <div class="vertical-align-middle width-100">
                                <h1 class="intro-title">{{ post.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="section-single-post padding-80px-tb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 last-paragraph-no-margin">
                    <div class="single-post-meta">
                        {#<span class="single-post-date">{{ post.date }}</span>
                        <span class="spacer">-</span>#}
                        <span class="single-post-category">{{ post.category }}</span>
                    </div>
                    <div class="single-post-text">{{ post.content }}</div>
                </div>
            </div>
            {% set gallery = post.get_field("gallery") %}
            {% if gallery %}
                <div class="row">
                    <div class="col-xs-12 padding-5px-lr">
                        <ul class="portfolio-grid work-4col hover-option2 gutter-small">
                            <li class="grid-sizer"></li>
                            {% for item in gallery %}
                                {% set image = TimberImage(item) %}
                                <li class="grid-item">
                                    <a href="{{ image.src("full") }}" title="{{ image.title }}" data-group="four-columns-zoom-animation" class="lightbox-group-gallery-item">
                                        <figure>
                                            <div class="portfolio-img bg-extra-dark-gray"><img src="{{ image.src("medium") }}" alt="{{ image.title }}" class="project-img-gallery"/></div>
                                            <figcaption>
                                                <div class="portfolio-hover-main text-center">
                                                    <div class="portfolio-hover-box vertical-align-middle">
                                                        <div class="portfolio-hover-content position-relative">
                                                            <i class="ti-zoom-in text-white fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    {% set related_news = post.get_field("related_news") %}
    {% if related_news %}
        <section class="section-grant-standard no-padding section-blog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-col margin-60px-bottom text-center">
                        <h2 class="text-secondary font-weight-500 title margin-80px-bottom">{{ __('Related Articles', 'news') }}</h2>
                    </div>
                </div>
                <div class="row equalize xs-equalize-auto">
                    {% for item in related_news %}
                        <div class="col-md-6">
                            {% include 'partial/_post_tease.twig' with { post: item.post } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
